.common-li {
    color: #333;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.common-li-bolder {
    font-size: 16px;
    font-weight: 500;
}

.common-li-special {
    font-size: 14px;
    font-weight: 430;
    color: #3621a5;
}

.metric-card {
    border-radius: 10px;
    background-color: #fefffe;
    padding: 10px 20px 15px 20px;
    text-align: left;
}

.metric-card-summary-n {
    font-size: 12px;
    color: #1f2541;
    justify-content: space-around;
}

.metric-card-summary-v {
    font-size: 18px;
    color: #020718;
    font-weight: bold;
}

.metric-card-item {
    text-align: left;
    margin-top: -13px;
    /*margin-left: -40px;*/
    list-style-type: none;
}

.metric-card-item li {
    line-height: 5px;
}


.metric-card-item-n {
    font-size: 8px;
    color: #3b3f4f;
}

.metric-card-item-v {
    font-size: 12px;
    color: #020718;
    font-weight: bold;
}

.metric-card-item-point {
    width: 4px;
    height: 4px;
    background-color: #11de71;
    display: inline-block;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom:1px;
}